extends layout

block customlibs
  script(src='/javascripts/twitter-stream.js')

block content
  .body-container
    .container.main-content
      h1(class="page-title") Twitter Stream
      #twitter-container
      #txtlzruser
      #txtlzr

      
